USE [master]
GO
/****** Nesnesi: Database [DBHastane] Betik Tarihi: 16.09.2026 13:46:07 ******/
CREATE DATABASE [DBHastane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBHastane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DBHastane.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBHastane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DBHastane_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBHastane].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBHastane]
GO
/****** Nesnesi: Table [dbo].[Tbl_Brans] Betik Tarihi: 16.09.2026 13:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Brans](
	[brs_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[brs_ad] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Tbl_Doktorlar] Betik Tarihi: 16.09.2026 13:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Doktorlar](
	[dr_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[dr_ad] [varchar](20) NULL,
	[dr_soyad] [varchar](20) NULL,
	[dr_brans] [varchar](20) NULL,
	[dr_tc] [char](11) NULL,
	[dr_sifre] [varchar](10) NULL,
	[dr_tel] [char](15) NULL
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Tbl_Duyurular] Betik Tarihi: 16.09.2026 13:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Duyurular](
	[duyuru_id] [int] IDENTITY(1,1) NOT NULL,
	[duyuru_mesaj] [varchar](300) NULL,
	[duyuru_tarih] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Tbl_Hastalar] Betik Tarihi: 16.09.2026 13:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Hastalar](
	[hst_id] [smallint] IDENTITY(1,1) NOT NULL,
	[hst_ad] [varchar](20) NULL,
	[hst_soyad] [varchar](20) NULL,
	[hst_tc] [char](11) NULL,
	[hst_telefon] [char](15) NULL,
	[hst_sifre] [varchar](10) NULL,
	[hst_cinsiyet] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Tbl_Randevular] Betik Tarihi: 16.09.2026 13:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Randevular](
	[Rd_id] [int] IDENTITY(1,1) NOT NULL,
	[Rd_tarih] [varchar](10) NULL,
	[Rd_saat] [varchar](5) NULL,
	[Rd_brans] [int] NULL,
	[Rd_doktor] [int] NULL,
	[Rd_durum] [bit] NULL,
	[hasta_tc] [char](11) NULL,
	[hasta_sikayet] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Tbl_Sekreterler] Betik Tarihi: 16.09.2026 13:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sekreterler](
	[sek_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[sek_AdSoyad] [varchar](20) NULL,
	[sek_tc] [char](11) NULL,
	[sek_sifre] [varchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Randevular] ADD  CONSTRAINT [DF_Tbl_Randevular_Rd_durum]  DEFAULT ((0)) FOR [Rd_durum]
GO
USE [master]
GO
